In [1]:
# import the necessary packages
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

# Create the engine to connect to the inbuilt
# sqllite database
engine = create_engine("sqlite+pysqlite:///:memory:")

# Read data from CSV which will be
# loaded as a dataframe object
data = pd.read_csv('udemy_courses.csv')

# print the sample of a dataframe
data.head()

# Write data into the table in sqllite database
data.to_sql('ud_courses', engine)

# connect to db engine
db_engine = engine.connect()
print("engine created successfully")

engine created successfully

In [2]:

# define a query function
def query_db(query: str, db_conn: sqlalchemy.engine.base.Connection) -> pd.DataFrame:
    df = pd.read_sql(query, db_conn)
    #print(df)
    return df

query_db("SELECT * FROM ud_courses LIMIT 5", db_engine)

#db_engine.close()

,index,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,1,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,1,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,1,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,1,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,1,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [17]:
# Write a query for paid courses, showing the  course with the highest number of subscribers per month

query_db("""select course_title, MAX(num_subscribers), 
       strftime("%m-%Y", published_timestamp) as 'month-year' 
       from ud_courses 
       group by strftime("%m-%Y", published_timestamp)""", db_engine)

,course_title,MAX(num_subscribers),month-year
0,Aprende a Tocar Teclado - Piano,119,01-2012
1,Learn Web Designing & HTML5/CSS3 Essentials in...,43285,01-2013
2,JavaScript for Absolute Beginners,10689,01-2014
3,Professional Logo Design in Adobe Illustrator,44044,01-2015
4,Javascript Essentials,47062,01-2016
...,...,...,...
65,PHP & MySQL - Learn The Easy Way. Master PHP &...,5549,12-2012
66,Learn Responsive Web Development from Scratch,59639,12-2013
67,Forex Trading A-Z™ - With LIVE Examples of For...,16900,12-2014
68,Modern React with Redux,50815,12-2015
69,Javascript - From Beginner to Pro-Build real w...,28694,12-2016

In [19]:
# Write a query for paid courses, showing the course with the highest sales per month

query_db("""select course_title, MAX(num_subscribers*price) AS 'highest sales', 
       strftime("%m-%Y", published_timestamp) as 'month-year' 
       from ud_courses 
       group by strftime("%m-%Y", published_timestamp)""", db_engine)

,course_title,highest sales,month-year
0,Aprende a Tocar Teclado - Piano,4165,01-2012
1,Learn Web Designing & HTML5/CSS3 Essentials in...,3246375,01-2013
2,Become a Professional Web Developer | Version 3.0,1370200,01-2014
3,The Complete Web Developer Bootcamp - Beginner...,2679570,01-2015
4,Master the MEAN Stack - Learn By Example,5030805,01-2016
...,...,...,...
65,PHP & MySQL - Learn The Easy Way. Master PHP &...,277450,12-2012
66,Build Flat Responsive Website from Scratch - C...,423675,12-2013
67,Forex Trading A-Z™ - With LIVE Examples of For...,3295500,12-2014
68,Modern React with Redux,9146700,12-2015
69,Javascript - From Beginner to Pro-Build real w...,5595330,12-2016

In [48]:
db_engine.close()