In [46]:
# import the necessary packages
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

# Create the engine to connect to the inbuilt
# sqllite database
engine = create_engine("sqlite+pysqlite:///:memory:")

# Read data from CSV which will be
# loaded as a dataframe object
data = pd.read_csv('udemy_courses.csv')

# print the sample of a dataframe
data.head()

# Write data into the table in sqllite database
data.to_sql('ud_courses', engine)

# connect to db engine
db_engine = engine.connect()
print("engine created successfully")

engine created successfully

In [39]:

# define a query function
def query_db(query: str, db_conn: sqlalchemy.engine.base.Connection) -> pd.DataFrame:
    df = pd.read_sql(query, db_conn)
    #print(df)
    return df

query_db("SELECT * FROM ud_courses LIMIT 5", db_engine)

#db_engine.close()

,index,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,1,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,1,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,1,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,1,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,1,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [40]:
# Write a query for paid courses, showing the  course with the highest number of subscribers per month

query_db("""SELECT course_title, num_subscribers
            FROM ud_courses 
            WHERE is_paid = 1 AND num_subscribers != 0
            ORDER BY num_subscribers DESC""", db_engine)

#db_engine.close()

                                           course_title  num_subscribers
0                            The Web Developer Bootcamp           121584
1                 The Complete Web Developer Course 2.0           114512
2                Learn Javascript & JQuery From Scratch            84897
3             JavaScript: Understanding the Weird Parts            79612
4     Pianoforall - Incredible New Way To Learn Pian...            75499
...                                                 ...              ...
3293  Learn Loreena McKennitt Songs-Quicklessons Pia...                1
3294  Coaching Bundle: Guitar for Music Educators: P...                1
3295  Coaching Bundle: Guitar for Music Educators: P...                1
3296                           Ukulele 3:  Intermediate                1
3297          Ukulele lernen für Papas mit Aram sam sam                1

[3298 rows x 2 columns]

In [47]:
# Write a query for paid courses, showing the course with the highest sales per month

query_db("""SELECT course_title, (price * num_subscribers) AS sales
            FROM ud_courses 
            WHERE is_paid = 1
            ORDER BY sales DESC""", db_engine)

                                           course_title     sales
0                            The Web Developer Bootcamp  24316800
1                 The Complete Web Developer Course 2.0  22902400
2     Pianoforall - Incredible New Way To Learn Pian...  15099800
3     Angular 4 (formerly Angular 2) - The Complete ...  14018770
4             JavaScript: Understanding the Weird Parts  13932100
...                                                 ...       ...
3363                  Tune that Sour Note on Your Piano         0
3364      Learn Vikings Soundtracks on the Piano by Ear         0
3365  Learn to Play Piano Like a Pro - Easy Piano Co...         0
3366  ABRSM Grade III Piano Class - Handel Sonatina ...         0
3367                  Learn to Play Sweet Child of Mine         0

[3368 rows x 2 columns]

In [48]:
db_engine.close()