In [61]:
import pandas as pd

In [80]:
df_08 = pd.read_csv("all_alpha_08 (1).csv")

In [81]:
df_08["Cyl"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2404 entries, 0 to 2403
Series name: Cyl
Non-Null Count  Dtype
--------------  -----
2205 non-null   object
dtypes: object(1)
memory usage: 18.9+ KB

In [16]:
# for this Task , we have look at a certain way to clean one of the column in the dataset using regex, lets explore the second way here

In [17]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [63]:
df_08["Cyl"]

0       (6 cyl)
1       (6 cyl)
2       (4 cyl)
3       (4 cyl)
4       (6 cyl)
         ...
2399    (6 cyl)
2400    (8 cyl)
2401    (6 cyl)
2402    (6 cyl)
2403    (8 cyl)
Name: Cyl, Length: 2404, dtype: object

In [66]:
# we need to extract the integ

#OPTION 1
df_08["Cyl"] = df_08["Cyl"].astype(str)
df_08["Cyl"] = [x.replace('(','').split(' ')[0] for x in df_08["Cyl"]]  # Removing '(' in the numbers from the "Cyl" column.
#df_08.dtypes

In [82]:
#OPTION 2
df_08["Cyl"] = df_08["Cyl"].astype(str)
df_08["Cyl"] = df_08["Cyl"].apply(lambda x: x.strip('()').split(' ')[0]).astype(float)

In [83]:
df_08["Cyl"]

0       6.0
1       6.0
2       4.0
3       4.0
4       6.0
       ...
2399    6.0
2400    8.0
2401    6.0
2402    6.0
2403    8.0
Name: Cyl, Length: 2404, dtype: float64

In [84]:
df_08["Cyl"].dtypes

dtype('float64')

In [12]:
df_08['Cyl']

0       6.0
1       6.0
2       4.0
3       4.0
4       6.0
       ...
2399    6.0
2400    8.0
2401    6.0
2402    6.0
2403    8.0
Name: Cyl, Length: 2404, dtype: float64